/* header */
.input{
    height: 50px;
    display: flex;
    padding: 20px 0px 20px;
    justify-content: center;
}
.input input{
    width: 55%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px 8px 8px 13px;
    margin: unset;
    border: 1px solid black;
    font-size: medium;
}
.input input:focus {
    outline: none;
    background-color: white;
}
.input button{
    width: 10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: unset;
    margin: unset;
    border: 1px solid black;
    cursor: pointer;
}
/* #header-web {
  position: fixed;
} */

/* #content-left {
  border-right: 1px solid black;
} */
.header-web {
  border-bottom:  1px solid rgb(204, 199, 199);
    margin-bottom: 20px;
    width: 100%;
}

.header-account {
  border-bottom:  1px solid rgb(123, 119, 119);
    margin-bottom: 20px;
}

.header-icon {
  position: absolute;
  font-size: 1.4rem;
  left: 30px;
  top: 34px;
}
.header-icon:hover {
  cursor: pointer;
}

.header-account-name {
  position: absolute;
  right: 150px;
  font-size: 1.2rem;
  line-height: 90px;
}
.header-account-button {
  height: 30px;
  border-radius: 5px;
  border: unset;
  font-size: 18px;
  cursor: pointer;
  background-color: red;
  color: white;
  transition: background .2s;
  position: absolute;
  right: 40px;
  font-size: 1rem;
  top: 30px;
} .header-account-button:hover {
  background-color: white;
  color: black;
  border: 3px solid #3d3d3d;
}
.logout {
    border: 1px solid black;
    text-decoration: none;
    margin-left: 10px;
}
.category_iteam_link_icon1 {
    margin-right: 30px;
    width: 20px;
}

/* Phần danh mục ----------------------------------------------------------------------------- */

.category {
    background-color: var(--white_color);
    border-radius: 2px;
    box-sizing: border-box;
}
.category_heading {
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(77, 18, 205);
    padding: 34px 50px;
    margin-top: 0;
    text-transform: uppercase;
}
.category_heading_icon {
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.category_list {
    padding: 0 0 4px 0;
    list-style: none;
    margin-left: 14px;
}
.category_iteam {
    position: relative;  
}
.category_iteam:first-child::before {
    display: none;
}
.category_iteam::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 32px;
}
.category_iteam_active .category_iteam_link {
    color: rgb(245, 84, 84); 
}
.category_iteam_active .category_iteam_link::before {
    content: "";
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent rgb(245, 84, 84);
}
.category_iteam_link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: rgb(75, 73, 73);
    font-size: 1.6rem;
    display: block;
    padding: 12px 16px;
    transition: right linear 0.1s;
    border-bottom: 1px solid rgb(204, 199, 199);
}
.category_iteam_link:hover {
    right: -4px;
    color: rgb(245, 84, 84);
}

/* CSS Phần From đắng kí đăng nhập */
.auth_form {
  width: 500px;
}
.auth_form__container {
  padding: 0 32px;
}
.auth_form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.auth_form__heading {
  font-size: 2rem;
  font-weight: 400;
  color: black;
}
.auth_form__switch_btn {
  font-size: 1.6rem;
  color : red;
  font-weight: 500;
  cursor: pointer;
}
.auth_form__form {
  margin-top: 30px;
}
.auth_form__input {
  width: 100%;
  height: 40px;

  margin-bottom: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.5px;
  outline: none;
}
.auth_form__input:focus {
  border-color: #777;
}
.auth_form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.auth_form__control_back {
  margin-right: 20px;
  padding: 0 10px;
}
#formsignup {
  display: none;
  font-family: 'Poppins',sans-serif;
  z-index: 2;
}
#formlogin {
  display: none;
  font-family: 'Poppins',sans-serif;
  z-index: 2;
}
.auth_form__group {
  position: relative;
}
.pass_icon {
  font-size: 1.4rem;
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  font-weight: 100;
}
#fullnameerror{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#phoneerror{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#usernameerror{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#passerror{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#repasserror{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#usernameloginerror {
  display: none;
  font-size: 1.4rem;
  color: red;
}
#passloginerror {
  display: none;
  font-size: 1.4rem;
  color: red;
}
#fullnameerror_acc{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#phoneerror_acc{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#usernameerror_acc{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#passerror_acc{
  display: none;
  font-size: 1.4rem;
  color: red;
}
#useraccount {
  width: 140px;
}
#eyeopen,#eyeopen2,#eyeopen3,#eyeopen_acc {
  display: none;
}
/* .fa-eye:before {
  content: "\f06e";
  
}
.fa-eye-slash:before {
  content: "\f070";
 
} */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes growth {
  from {
      transform: scale(var(--growth_from)); 
  }
  to {
      transform: scale(var(--growth_to)); 
  }
  
}
.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.415);
}
.modal_body {
  --growth_from: 0;
  --growth_from: 1;
  background-color: white;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  animation: growth linear 0.5s;
}
.btn {
  min-width: 124px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.843);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn.btn_nomal:hover {
  background-color: rgba(0, 0, 0, 0.064);
}
.btn.btn_size_s {
  height: 32px;
  font-size: 12px;
}
.btn.btn__primary {
  background-color: rgba(255, 0, 0, 0.757);
  color: white;
  padding: 0 10px;
}
.btn.btn__disable {
  cursor: default;
  color: #ccc;
  background-color: #999;
}


/* Css phần Bill ---------------------------------------------------------------------------- */
.table-bill {
    border: 2px solid black;
    width: 100%;
    font-size: 1.4rem;
    box-shadow: 3px 3px 5px 5px gray;
    text-align: center;
}
.table-bill td {
    border: 1px solid black;
}
.table-bill th {
    border: 1px solid black;
    background-color: rgb(6, 160, 6);
    color: white;
}
.table-product {
    border: 2px solid black;
    width: 100%;
    font-size: 1.4rem;
    box-shadow: 3px 3px 5px 5px gray;
    text-align: center;
}
.table-product td {
    border: 1px solid black;
}
.table-product th {
    border: 1px solid black;
    background-color: rgb(6, 160, 6);
    color: white;
}

/* CSS biểu đồ thống kê theo sản phẩm------------------------------------------------------------- */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 900px;
  margin: 1em auto;
}

#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/* CSS Phần phân quyền */
.au_main{
  height: 100%;
  width: 90%;
  padding: 20px;
  margin-left: 30px;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
}

.au_main .author_group {
  height: 90%;
  width: 100%;
  margin-top: 20px;
}
.au_main .author_group  table {
  border-collapse: collapse;
  width: 100%;
}
.au_main .author_group  table thead {
  background-color: rgb(3, 145, 3);
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
}
.au_main .author_group table thead tr {
  border-radius: 10px;
}
.au_main .author_group table thead th {
  height: 100%;
  padding: 10px;
}
.au_main .author_group table tbody {
  width: 100%;
}
.au_main .author_group table tbody tr {
  text-align: center;
  width: 100%;
}
.au_main .author_group table tbody tr:nth-child(odd) {
  background-color: white;
}
.au_main .author_group table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
.au_main .author_group table tbody tr td {
  padding:5px;
}
.au_main .author_group table tbody tr td button {
  height: 30px;
  width: 70px;
  font-family: 'Righteous', cursive;
  color: white;
  border-radius: 7px;
  border: unset;
  font-size: 16px;
  cursor: pointer;
  transition: background .2s;
}
.delete-customer-btn {
  background-color: red;
}
.au_main .author_group table tbody tr td a .bnt-edit-authorize {
  background-color: #2e89ff;
}
.au_main .author_group table tbody tr td a .bnt-edit-authorize:hover {
  background-color: white ;
  color: #2e89ff;
  border: 2px solid #2e89ff;
}
.au_main .author_group table tbody tr td button{
  background-color: red;
}
.au_main .author_group table tbody tr td button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.info-receive {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 700;
}
.info-receive_item {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.info-receive_total {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.btn-process-bill {
  background-color: blue;
}

#form-edit-customer {
  font-size: 1.2rem;
}
.form-edit-customer-header {
  font-size: 1.6rem;
  text-align: center;  
}
.form-edit-customer-item1 {
  margin-left: 20px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.form-edit-customer-item2 {
  margin-left: 70px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.form-edit-customer-item3 {
  margin-left: 77px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.form-edit-customer-item4 {
  margin-left: 45px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.form-edit-customer-item5 {
  margin-left: 72px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.form-edit-customer-item6 {
  margin-left: 112px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.form-edit-customer-item7 {
  margin-left: 98px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}

.btn-edit-customer {
  height: 30px;
  width: 70px;
  font-family: 'Righteous', cursive;
  color: white;
  border-radius: 7px;
  border: unset;
  font-size: 18px;
  cursor: pointer;
  transition: background .2s;
  background-color: blue;
}
.btn-edit-customer:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

/* css phâng thống kê */
.btn-statistic-total {
  height: 30px;
  width: 120px;
  font-family: 'Righteous', cursive;
  color: white;
  border-radius: 5px;
  border: unset;
  font-size: 18px;
  cursor: pointer;
  transition: background .2s;
  background-color: blue;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 30px;
}
.btn-statistic-product {
  height: 30px;
  width: 100px;
  font-family: 'Righteous', cursive;
  color: white;
  border-radius: 5px;
  border: unset;
  font-size: 18px;
  cursor: pointer;
  transition: background .2s;
  background-color: blue;
  margin-top: 30px;
  margin-right: 10px;
}
.btn-statistic-bestsell {
  height: 30px;
  width: 200px;
  font-family: 'Righteous', cursive;
  color: white;
  border-radius: 5px;
  border: unset;
  font-size: 18px;
  cursor: pointer;
  transition: background .2s;
  background-color: blue;
  margin-top: 30px;
}
.btn-statistic-total:hover {
  background-color: white;
  color: red;
  border: 2px solid black;
}
.btn-statistic-product:hover {
  background-color: white;
  color: red;
  border: 2px solid black;
}
.btn-statistic-bestsell:hover {
  background-color: white;
  color: red;
  border: 2px solid black;
}

.form-chart {
  font-family: 'Righteous', cursive;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 10px;
}

.form-chart-input {
  font-family: 'Righteous', cursive;
  font-size: 14px;
  width: 200px;
  height: 30px;
}
.form-chart-check {
  height: 30px;
  width: 100px;
  font-family: 'Righteous', cursive;
  color: white;
  border-radius: 5px;
  border: unset;
  font-size: 18px;
  cursor: pointer;
  transition: background .2s;
  background-color: red;
  margin-left: 20px;
  margin-bottom: 20px;
}
.form-chart-check:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

/* css phần phân quyền */

.authorize-modalbox {
  height: 100%;
  width: 90%;
  margin-left: 30px;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
}
.authorize-modalbox .modal-header {
  height: 7%;
}
.authorize-modalbox .modal-form {
  height: 93%;
  margin-top: 50px;
  padding: 20px;
}
.authorize-modalbox .modal-form form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
}
.authorize-modalbox .modal-form form .update_message{
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 30px;
  color: black;
}
.authorize-modalbox .modal-form form .form-general {
  height: 10%;
  display: flex;
  flex-direction: column;
}
.authorize-modalbox .modal-form form .form-general .form-general-div {
  height: 25%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.authorize-modalbox .modal-form form .form-general .form-general-div div:first-child {
  width: 10%;
  padding: 20px 0;
}
.authorize-modalbox .modal-form form .form-general .form-general-div div:last-child {
  width: 90%;
  padding: 10px 0;
}
.authorize-modalbox .modal-form form .form-general div input {
  height: 20px;
  width: 40%;
  border: 3px solid #3d3d3d;
  padding:7px;
  border-radius: 10px;
  background-color: rgba(16,16,16,.4);
  color: white;
  font-size: 15px;
  font-family: 'Righteous', cursive;
  transition: .2s;
  outline: unset;
}
.authorize-modalbox .modal-form form .form-general div input:hover,
.authorize-modalbox .modal-form form .form-general div input:focus {
  border: 3px solid #FF1E1E;
}


.authorize-modalbox .modal-form form .form-authorize {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-header {
  height: 5%;
  font-size: 18px;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content {
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content .authorize-card {
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 30px;
  margin: 10px;
  border: 3px solid #3d3d3d;
  border-radius: 15px;
  background-color: rgba(67, 66, 66, 0.4);
  box-shadow: 0 14px 28px rgba(20, 20, 20, 0.25), 
    0 10px 10px rgba(18, 18, 18, 0.22);
  transition: .2s;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content .authorize-card:hover {
  border-color: #FF1E1E;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content .authorize-card header {
  font-size: 25px;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content .authorize-card .authorize-card-div {
  display: flex;
  flex-direction: row;
  height: 20px;
  margin-top: 10px;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content .authorize-card .authorize-card-div div:first-child {
  width: 80%;
  padding: 10px 0;
}
.authorize-modalbox .modal-form form .form-authorize .authorize-content .authorize-card .authorize-card-div div:last-child {
  width: 20%;
  padding: 10px 0;
}

.authorize-modalbox .modal-form form .form-button {
  height: 30%;
  display: flex;
  justify-content: left;
  margin-top: 20px;
}
.authorize-modalbox .modal-form form .form-button button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: #FF1E1E;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
  margin-top: 30px;
}
.authorize-modalbox .modal-form form .form-button button:hover {
  background-color: green;
}
.bnt-create-authorize {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: red;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.bnt-create-authorize:hover {
  background-color: white;
  color: black;
  border: 3px solid #3d3d3d;
}

.form-create-account-item {
  width: 507px;
  margin-left: 104px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.btn-create-account {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: blue;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.btn-update-account {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: blue;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.btn-update-account:hover {
  background-color: white;
  color: black;
  border: 3px solid #3d3d3d;
}
.au_main .author_group table tbody tr td a .btn-edit-account {
  background-color: blue;
}
.btn-create-account:hover {
  background-color: white;
  color: black;
  border: 3px solid #3d3d3d;
}
.form-create-account-item2 {
  margin-top: 30px;
  width: 500px;
  margin-left: 71px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
}
.invoices-import {
  position: absolute;
  right: 62px;
  width: 120px;
}

#account-username-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#account-password-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#account-username-error-create {
  display: none; 
  color: red;
  margin-left: 160px;
}
#account-password-error-create {
  display: none; 
  color: red;
  margin-left: 160px;
}
#account-authorize-error {
  display: none; 
  color: red;
}
#account-authorize-error-create {
  display: none; 
  color: red;
}
#customer-fullname-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#customer-username-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#customer-password-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#customer-numberphone-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#customer-birthday-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#customer-email-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#customer-address-error {
  display: none; 
  color: red;
  margin-left: 160px;
}
#supplier-fullname-error {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-numberphone-error {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-address-error {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-email-error {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-fullname-error-create {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-numberphone-error-create {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-address-error-create {
  display: none; 
  color: red;
  margin-left: 170px;
}
#supplier-email-error-create {
  display: none; 
  color: red;
  margin-left: 170px;
}
.btn-update-supplier {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: blue;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.btn-update-supplier:hover {
  background-color: white;
  color: black;
  border: 3px solid #3d3d3d;
}
.form-edit-supplier-item2 {
  margin-left: 57px;
  margin-top: 10px;
  font-size: 1.2rem;
  width: 500px;
  font-family: 'Righteous', cursive;
}
.form-edit-supplier-item3 {
  margin-left: 110px;
  margin-top: 10px;
  font-size: 1.2rem;
  width: 500px;
  font-family: 'Righteous', cursive;
}
.form-edit-supplier-item4 {
  margin-left: 123px;
  margin-top: 10px;
  font-size: 1.2rem;
  width: 500px;
  font-family: 'Righteous', cursive;
}
.btn-create-supplier {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: blue;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.form-create-supplier-item1 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  width: 500px;
  font-family: 'Righteous', cursive;
}

.filter {
  display: flex;
  height:26px;
  margin-bottom: 20px;
  margin-top: 20px;
  gap :3px;
  text-align:center;
  font-weight: bold;
}

.filter > input[type="number"]{
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.filter > select{
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.filter > input[type="submit"]{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Thêm sản phẩm */
#form-create-product {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}


#form-create-product > input[type="text"] {
  width: 650px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#form-create-product > input[type="number"] {
  width: 650px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#form-create-product > input[type="file"] {
  width: 650px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#form-create-product > select {
  width: 150px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

}

.add-product {
  width: 200px;
  height: 36px;
  color: #faf4f4;
  font-weight: bold;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Sửa sản phẩm */
#form-edit-product {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}

#form-edit-product > img{
  width: 100px;
  height: 100px;
}

#form-edit-product > input[type="text"] {
  width: 650px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#form-edit-product > input[type="number"] {
  width: 650px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#form-edit-product > input[type="file"] {
  width: 650px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#form-edit-product > select {
  width: 150px;
  height: 26px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

}

.edit-product {
  width: 200px;
  height: 36px;
  color: #faf4f4;
  font-weight: bold;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.btn-add-index{
  width: 200px;
  height: 36px;
  color: #faf4f4;
  font-weight: bold;
  margin-top:8px;
  margin-bottom:8px;
  float:right;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

/* Tiêu đề danh sách sản phẩm */
h1 {
  text-align: center;
  margin-top:50px;
  font-size:25px;

}

/*  tìm kiếm */
.form-search{
  display: flex;
  flex-direction: row;
}

.form-search > input[type="search"]{
  width: 300px;
  border: 2px solid #fffffff8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.form-search > input[type="submit"]{
  color: #fff;
  cursor: pointer;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Nút xem chi tiết sản phẩm  */
.btn-detail{
  color: #fff;
  cursor: pointer;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Nút xóa sản phẩm  */
.btn-delete-product{
  color: #fff;
  cursor: pointer;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.pagination{
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  width: 26px;
  height: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.table-edit{
  width: 100%;
  border-radius: 5px;
  overflow: hidden;;
  font-weight: bold;
}

.table-edit td {
  text-align: center;
  border: 2px solid #2dd050;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.table-edit th{
  color: #fff;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.table-product-index{
  width: 100%;
  border-radius: 5px;
  overflow: hidden;;
  font-weight: bold;
}

.table-product-index td {
  text-align: center;
  border: 2px solid #2dd050;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.table-product-index th{
  color: #fff;
  background-color: #2dd050;
  border: 2px solid #49d481f8;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#staff-fullname-error-create {
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-numberphone-error-create{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-date-error-create{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-email-error-create{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-address-error-create{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-username-error-create{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-password-error-create{
  display: none;
  color: red;
  margin-left: 170px;
}

#form-edit-staff {
  font-size: 1.2rem;
}
.form-edit-staff-header {
  font-size: 1.6rem;
  text-align: center;  
}
.form-edit-staff-item1 {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}

.form-edit-staff-item2 {
  margin-left: 57px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-edit-staff-item3 {
  margin-left: 84px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-edit-staff-item4 {
  margin-left: 124px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-edit-staff-item5 {
  margin-left: 110px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-edit-staff-item6 {
  margin-left: 82px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-edit-staff-item7 {
  margin-left: 88px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.btn-create-staff {
  margin-top: 20px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: blue;
    border: unset;
    color: white;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: background .2s;
}
.btn-create-staff:hover {
  background-color: white;
  color: black;
  border: 1px solid rgb(34, 33, 33);
}

.btn-create-staff {
  margin-top: 20px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: blue;
    border: unset;
    color: white;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: background .2s;
}

#staff-fullname-error {
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-number-error{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-date-error{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-email-error{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-address-error{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-username-error{
  display: none;
  color: red;
  margin-left: 170px;
}

#staff-password-error{
  display: none;
  color: red;
  margin-left: 170px;
}

.form-create-staff-item1 {
  margin-left: 50px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-create-staff-item3 {
  margin-left: 84px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-create-staff-item5 {
  margin-left: 110px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.form-create-staff-item7 {
  margin-left: 90px;
  font-size: 1.2rem;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
.btn-update-staff {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: blue;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.btn-update-staff:hover {
  background-color: white;
  color: black;
  border: 1px solid rgb(34, 33, 33);
}
.btn-store-staff {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: blue;
  border: unset;
  color: white;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  transition: background .2s;
}
.btn-store-staff:hover {
  background-color: white;
  color: black;
  border: 1px solid rgb(34, 33, 33);
}


.ml-auto {
  margin-right: auto !important;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  li.category_iteam {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .fa-solid,
  .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 30px;
  }

  .menu-btn {
    display: inline-block;

  }

  .category_list {
    display: none;
  }

  .category_heading {
    font-size: 5px;
    width: 10px;
    margin-right: 10px;
    display: inline-block;

  }

  .header-account-button {
    display: inline-block;
    width: 43px;
    height: 10px;
    font-size: 5px;
  }

  .header-account-button:hover {
    display: inline-block;
    width: 43px;
    height: 10px;
    font-size: 5px;
  }

  .header-account-name {
    width: 72px;
    font-size: 5px;
    height: 10px;
    margin-top: -8px;
    margin-right: -54px;

  }

  .form-search>input[type="search"] {
    width: 100px;
    height: 10px;
    font-size: 5px;
  }

  .form-search>input[type="submit"] {
    width: 40px;
    height: 10px;
    font-size: 3px;
  }

  .btn-create-staff {
    width: 26px;
    height: 10px;
    font-size: 5px;
  }

}

/* Thiết lập kích thước font chữ trên các máy tính bảng */
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  li.category_iteam {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  button.btn-add-index {
    width: 101px;
    font-size: 9px;
  }

  .fa-solid,
  .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 30px;
  }

  .menu-btn {
    display: inline-block;
    background: #fff;
    border: none;
  }

  .category_list {
    display: none;
  }

  .category_heading {
    font-size: 16px;
    width: 10px;
    margin-right: 10px;
    display: inline-block;

  }

  .header-account-button {
    display: inline-block;
    width: 73px;
    height: 23px;
    font-size: 11px;
  }

  .header-account-button:hover {
    display: inline-block;
    width: 43px;
    height: 10px;
    font-size: 5px;
  }

  .header-account-name {
    width: -13px;
    font-size: 12px;
    height: 10px;
    margin-top: -8px;
    margin-right: 15px;

  }

  .form-search>input[type="search"] {
    width: 190px;
    height: 45px;
    font-size: 15px;
  }

  .form-search>input[type="submit"] {
    width: 55px;
    height: 46px;
    font-size: 9px;
  }

  .btn-create-staff {
    width: 26px;
    height: 10px;
    font-size: 5px;
  }
}