.name{
    background-color: #fff;
    outline: 1px solid #e5dcdc;

}
.container-product{

    outline: 1px solid #e5dcdc;
}
.a-midle
{
    color: blue;
    line-height: 4rem;
}
.card-product{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.filter_none{
    display: none;
}
.filter_block{
    display: block;
}
#click_filter{
    cursor: pointer;
}