li{
    list-style: none;
}
.slider_phone{
    margin-top:60px ;   
}
.slider_phone .container{
    padding-left: 0px;
    padding-right: 0px;
}
.slider-content_phone{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slider-content-left_phone{
    width: 100%;
    
}
.slider-content-left-top_phone{
    width: 100%;
    height: 300px;
    position: relative;
    transition: all 0.3s ease-in-out;
    
}
.slider-content-left-top_phone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content-left-top-icon_phone{
position: absolute;
display: flex;
justify-content: space-between;
top: 50%;
width: 100%;
}
.slider-content-left-top-icon_phone i{
color: #333;
font-size: 32px;
height: 50px;
width: 50px;
background-color: #ddd;
border: 0.1px solid #838080;
border-radius: 50%;
padding: 6px;
display: flex;
justify-content: center;
align-items: center;
transform: translateY(-50%);
opacity: 0;
transition: all 0.3s ease-in-out;
cursor: pointer;
}
.slider-content-left-top-container_phone{
    position: relative;
    overflow: hidden;
}
.slider-content-left-top-container_phone:hover i{
opacity: 1;
}
.slider-content-left-bottom_phone{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 83%;
    width: 100%;
}
.slider-content-left-bottom_phone ul{
    display: flex;
    justify-content: space-between;
    padding-left:0px ;
}
.slider-content-left-bottom_phone ul li{
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
    
}
/* .slider-content-left-bottom_phone ul li::before{
    display: block;
    content:"";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
} */
.slider-content-left-bottom_phone ul li button.active_phone{
    border: 2px solid black;
    background-color: #0e6ede;
}

.slider-content-left-top_phone img{
    position: absolute;
}
.slider-content-left-top_phone a:nth-child(2) img{
    transform: translateX(100%);
}
.slider-content-left-top_phone a:nth-child(3) img{
    transform: translateX(200%);
}
.slider-content-left-top_phone a:nth-child(4) img{
    transform: translateX(300%);
}
.slider-content-left-top_phone a:nth-child(5) img{
    transform: translateX(400%);
}
.circle{
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 19px;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #838080;
}
.product_slide_content{
    display: flex;
    position: relative;
    overflow: hidden;
}