#update{
    padding: 20px;
    background-color:rgba(255 250 250)		;
}
#user #left{
    padding: 20px;
    margin-left: 20px;
    margin-top: 50px;
    background-color:rgba(255 250 250);
    height: fit-content;
}
#user #left a{
    color: unset;
}

#form-update {
    margin: 15px 0;
}

#user #content{
    max-width: 1100px;
    margin-left: 70px;
    margin-top: 50px;
}

#user #content #donhang{
    padding: 20px;
    background-color:rgba(255 250 250)	;
}

#donhang h6,#donhang th,#donhang td{
    padding-left: 40px;
}

#donhang th,#donhang td{
    text-align: center;
}
#donhang td{
    padding-bottom: 10px;
}

#user #content #donhang img{
    height: 100px;
    width: 100px;
}

#form-update input[type=text],#form-update input[type=date],#form-update input[type=email]   {
    width: 450px;
    padding: 7px 20px;
    margin: 8px 0;
    border:  0.001rem solid;
    background-color: gainsboro;
}
#form-update input[type=submit]{
    padding: 7px;
    background-color:deepskyblue;
    border-radius: 7px;
}
